name: reviewdog
on: [pull_request]
jobs:
  textlint:
    name: runner / textlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: textlint-github-pr-review
        uses: tsuyoshicho/action-textlint@v2
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          reporter: github-pr-review
          level: warning
          textlint_flags: "content/**"
